# 忽略 Obsidian 配置文件夹
.obsidian/*
# 但需追踪保存在此文件夹下的应用设置
!.obsidian/app.json
# 不再追踪插件的开关状态（下面这行已被注释）
# !.obsidian/*plugins.json

# 还需追踪指定的插件
!/.obsidian/plugins
/.obsidian/plugins/*
!/.obsidian/plugins/obsidian-git
!/.obsidian/plugins/markdown-tree

# 忽略缓存文件与手机端删除的文件
.cache/
.trash/

# 忽略日志文件
*.log

# 忽略备份文件
*.bak
*.swp

# macOS 系统文件
.DS_Store

# Windows 系统文件
Thumbs.db
desktop.ini

# Android 构建文件
*.apk
*.ap_

# JetBrains IDE 配置文件
.idea/

# Visual Studio Code 配置文件
.vscode/

# Node.js 项目相关
node_modules/
yarn.lock
package.json
.prettierrc

# Vim 临时文件
*.swp

# 其它
/废纸篓/
/草稿/
